{% load static %}

<!--<!DOCTYPE html>-->
<html>

<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "icon" href = "{% static '/images/logo5.png' %}" type = "image/png">

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/AboutUs/navb.css' %}">
    <script src="{% static '/js/AboutUs/aboutus.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/AboutUs/aboutus.css' %}">

    <style>
        .hello-msg {
            font-size: 18px;
            color: #fff;
            margin-right: 15px;
        }
    </style>
</head>

<body>
    <!--header part start-->
    <div class="topnav" id="myTopnav">

        <div style="float: left;">
            <a href="/home/"><img width='220' height='31' src={% static '/images/logo3.png' %}></a> 
        </div>
        <a href="{% url 'store' %}"><i class="fa fa-fw fa-shopping-bag"></i> Shop</a>
        <a href="{% url 'donate' %}"><i class="fa fa-fw fa-gift"></i> Donate</a>
        <a href="{% url 'halloffame' %}"><i class="fa fa-fw fa-user"></i> Hall Of Fame</a>
        <a class="active"><i class="fa fa-fw fa-info"></i> About</a>


        <div class="login-container">
            {% if request.user.is_active %}
                <a href="{% url 'accountdetails' %}">Hello, {{request.user.customer}}</a> 
                <a class="hello-msg" href="{% url 'logout' %}">Logout</a> {% else %}
                <a href="{% url 'accountdetails' %}">Hello, {{request.user}}</a> 
                <a class="hello-msg" href="{% url 'login' %}">Login</a> {% endif %}

        </div>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>

    </div>


    <!--header part end-->

    <!--middle part start-->
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-12 mt-5 text-center">
                <span class="header">About Us</span>
            </div>
        </div>

        <!--main content-->
        <div class="row mt-5">
            <div class="col-xl-6 col-lg-6 col-sm-12">
                <img src="{% static '/images/AboutUs/about-images.png' %}" class="header-part">
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-12 pt-5" style="font-weight: 600; font-size: 1.15em;">
                <span style="color: rgb(0, 183, 255);font-size: 1.1em;"><strong> Worry not!</strong></span> Because
                <b>Book Space</b> is here to answer all your literary prayers. Knowledge is priceless but the books come with a bill and the <b>Book Space</b> is committed to bring to you the best of the brilliant from the world of written text, at prices
                which are literally a steal. Donate the books for us we will use every weapon there is to meet your bibliophilic fantasies. So fellas’ put on your reading capes because it is time to fly into the mystical world of best sellers.
            </div>
        </div>
        <!--main content-->

        <!--cards-->
        <div class="row mt-5 mb-5">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4 mb-4">
                <div class="card">
                    <div class="card-header text-center">Shop</div>
                    <div class="card-body"><img src="{% static '/images/AboutUs/about-images-1.jpg' %}" height="200px" width="100%">
                        <p class="pt-3">Knowledge is a powerful weapon that everyone should have to change and empower the world. Following that the books on Book Space are available for every citizen of India. Buy a book and become kingpin of world</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-4">
                <div class="card">
                    <div class="card-header text-center">Donate</div>
                    <div class="card-body"><img src="{% static '/images/AboutUs/about-images-2.jpg' %}" height="200px" width="100%">
                        <p class="pt-3"> We are on a mission to create an ecosystem where no reader in the country is left to complete his/her education due to the affordability and unavailability of books. Since books are made to spread the knowledge.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12  mt-4 card-3">
                <div class="card">
                    <div class="card-header text-center">Hall of Fame</div>
                    <div class="card-body"><img src="{% static '/images/AboutUs/about-images-3.jpg' %}" height="200px" width="100%">
                        <p class="pt-3">Our website provides the top 15 donors are posted in the Hall of Fame with their names, photos and contact information. You can search the donor by donation id.User can see the number of books donted by the donar by their Id.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--cards-->
    </div>
    <!--middle part end-->

    <!--footer-->
    <div class="container-fluid bg-dark text-white">
        <div class="container">
            <div class="row ">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 footer pt-5">
                    <p style="font-size:20px;text-transform: uppercase;font-weight: 800;" data-aos="slide-right">Book Space
                    </p>
                    <p data-aos="slide-right">
                        <a href="{% url 'store' %}" style="color: white;"><i></i> Shop</a>
                        <br>
                        <a href="{% url 'donate' %}" style=" color: white; "><i></i>Donate</a>
                        <br>
                        <a href="{% url 'halloffame' %}" style="color: white; "><i></i>Hall Of Fame</a>
                        <br>
                        <a href="{% url 'aboutus' %}" style="color: white; "><i></i>About Us</a>
                        <br>
                        <a href="{% url 'contactus' %}" style="color: white;"><i></i> Contact Us</a>
                        <br>

                    </p>
                </div>
                <div class="col-xl-3 pt-5 hide-girl ">
                    <p style="font-size:20px;text-transform: uppercase;font-weight: 800;" data-aos="slide-right">Books</p>

                    <p data-aos="slide-right">
                        <a href="/store/?categories=1" style="color: white;"><i></i>Engineering Books</a>
                        <br>
                        <a href="/store/?categories=2" style="color: white;"><i></i>Medical Books</a>
                        <br>
                        <a href="/store/?categories=3" style="color: white;"><i></i>Economics</a>
                        <br>
                        <a href="/store/?categories=4" style="color: white;"><i></i>JEE MPC</a>
                        <br>
                        <a href="/store/?categories=5" style="color: white;"><i></i>JEE BiPC</a>
                    </p>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 footer pt-5 ">

                    <p style="font-size:20px;text-transform: uppercase;font-weight: 800;" data-aos="slide-right">Help</p>

                    <p data-aos="slide-right">
                        <a href="/privacy/" target="_blank" style="color: white;"><i></i>Privacy Policy</a>
                        <br>
                        <a href="/license/" target="_blank" style="color: white;"><i></i>License</a>
                        <br>
                        <a href="/comingsoon/" target="_blank" style="color: white;"><i></i>Book Condition Guidelines</a>
                        <br>
                        <a href="/comingsoon/" target="_blank" style="color: white;"><i></i>Return Policy</a>
                        <br>
                        <a href="{% url 'faq' %}" style="color: white; "><i></i>FAQ</a>
                    </p>
                    <!--<span style="font-size:20px;text-transform: uppercase;font-weight: 800; " class="text-center " data-aos="zoom-in-left ">HELP</span><br>
                    <p style="margin-top:3%;margin-left:1%; " data-aos="fade-up ">Privacy Policy</p>
                    <p style="margin-top:-3%;margin-left:1%; " data-aos="fade-up ">Terms and Conditions</p>
                    <p style="margin-top:-3%;margin-left:1%; " data-aos="fade-up ">Book Condition Guidelines</p>
                    <p style="margin-top:-3%;margin-left:1%; " data-aos="fade-up "><a href="{% url 'faq' %}" style="color: white; "><i></i>FAQ</a>
                    </p>-->
                </div>
                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 footer pt-5 pb-3 ">

                    <p style="font-size:20px;text-transform: uppercase;font-weight: 800; " data-aos="slide-right">contact
                    </p>
                    <p data-aos="slide-right"><i class="fa fa-home " aria-hidden="true " style="font-size:20px; "></i>&nbsp;India
                    </p>
                    <p data-aos="slide-right"><i class="fa fa-envelope " aria-hidden="true "></i>&nbsp; <a href="mailto:bookspace30@gmail.com ">bookspace30</a></p>
                    <p data-aos="slide-right"><i class="fa fa-phone " aria-hidden="true "></i>&nbsp; + 01 234 567 88</p>
                    <p data-aos="slide-right"><i class="fa fa-print " aria-hidden="true "></i>&nbsp; + 01 234 567 89</p>
                </div>
            </div>
        </div>
        <hr style="color:white;width:100%;border:1px solid ">
        <div class="container mt-4 pb-4 ">
            <div class="row">
                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                    <p>© 2024 Copyright:<span style="font-weight:600 "> Book Space</span></p>
                </div>
                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6 icon-head ">
                    <span class="icons-2 "><a class="fa fa-facebook " aria-hidden="true "
                            href="https://www.facebook.com/Book-Space-108366354745575 " target="blank "
                            style="color: white; "></a></span>
                    <span class="icons-3 "><a class="fa fa-twitter " aria-hidden="true "
                            href="https://twitter.com/BookSpa40608444" target="blank " style="color: white; "></a></span>
                    <span class="icons-1 "><a class="fa fa-linkedin " aria-hidden="true "
                            href="https://www.linkedin.com/company/book-space/" target="blank"
                            style="color: white; "></a></span>
                    <span class="icons "><a class="fa fa-instagram " aria-hidden="true "
                        href="https://www.instagram.com/bookspace12/" target="blank"
                            style="color: white; "></a></span>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <script src="https://unpkg.com/aos@next/dist/aos.js "></script>

    <script>
        //on scroll plugin//
        AOS.init({
            once: true,
            duration: 1000,
        });
        //on scroll plugin//
    </script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav ");
            if (x.className === "topnav ") {
                x.className += " responsive ";
            } else {
                x.className = "topnav ";
            }
        }
    </script>
</body>

</html>