<!DOCTYPE html>

{% load static %}

<html lang="en">
    <!-- Head -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "icon" href = "{% static '/images/logo5.png' %}" type = "image/png">
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static '/css/Faq/faq.css' %}">
        <script src="{% static '/js/Faq/faq.js' %}"></script>
        <title>FAQ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    </head>

    <!-- Body -->
    <body>

        <div class="top-image"></div>
        <!-- Main -->
        <main class="container">
            <div class="content">
                <h1 class="content__title">FAQ</h1>

                <dl class="list">
                    <dt class="list__word">
                        <p>What is the cost of book?</p>
                        <span class="icon"></span>
                    </dt>
                    <dd class="list__description">
                        You need not to pay for the books as these books are donated by different individuals and Book Space is working as a service provider to collect / verify/list / deliver these books. However a nominal shipping and handling charge will be applicable for delivering these books.
                    </dd>

                    <dt class="list__word">
                        <p>How can I donate books?</p>
                        <span class="icon"></span>
                    </dt>
                    <dd class="list__description">
                        Its quite simple!! You just have to our website and fill the information form and we will get back to you with all the details regarding collection of books in 24 working hours.
                    </dd>

                    <dt class="list__word">
                        <p>How do I reset my password?</p>
                        <i class="icon-arrow-down"></i>
                        <span class="icon"> </span>
                    </dt>
                    <dd class="list__description">
                        Click “Forgot password” from the login page or “Change password” from your profile page.
                        A reset link will be emailed to you.
                    </dd>

                    <dt class="list__word">
                        <p></p>I am not able to add the books in my cart!
                        <span class="icon"></span>
                    </dt>
                    <dd class="list__description">
                        Yes! Kindly log in before adding your books in the cart. If your are a new user please sign up to proceed further. You can also call us on our helpline for more assistance.</dd>

                    <dt class="list__word">
                        <p>Do you provide additional support?</p>
                        <span class="icon"></span>
                    </dt>
                    <dd class="list__description" >
                        Chat and email support is available 24/7. Phone lines are open during normal business hours.
                    </dd>
                </dl>
            </div>
        </main>

    </body>
</html>